.main-container .session-create{
    margin: 40px;
    background: #fff;
    width: 100%;
}
.main-container .session-create header{
    width: 100%;
    background: #8685ac;
    padding: 15px;
    color: #fff;
    padding: 15px;
}
.main-container .session-create .session-create-card{
    padding: 40px
}
#create-form .form-group{
    padding-bottom: 20px;
}
#create-form label{
    display: block;
}

#create-form input,textarea,select{
    width: 100%;
    border: none;
    padding: 15px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: none;
}
#create-btn{
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 15px;
    background: #706FD3;
    color: #fff;
}