.containers{
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 30px;
    width: 100%;
}

.profile{
    background: #F7FAFC;
    margin: 50px;
    height: auto;
    width: min-content;
    border-radius: 10px;
    box-shadow: 10px #000;
}
.profile-image{
    margin: 60px;
    background: #fff;
    height: 500px;
    width: auto;
}
.profile header h3{
    text-align: center;
    margin: 20px;
}
.details{
    margin: 20px;
    display: table; 
    
}
.firstname,.username,.email,.phone{
    margin: 10px;
    display: table-cell;
    width: 100%;
}
input{
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: none;
}
.experience,.skills,.goal,.best,.project,.fav{
    width: 100%;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about input[type=text],input[type=number] {
    width: 100%;
}
.about label {
    font-size: 15px;
}
.about select{
    width: 100%;
    border: none;

}
#update-btn{
    background: #706FD3;
    border: none;
    color: #fff;
    border-radius: 0;
    width: 100%;
}
.profile-image{
    width: 40%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#user-image{
    width: 60%;
    margin: 60px;
    border-radius: 50%;
}
input[type=submit]{
    cursor: pointer;
}
.messages{
    margin: 20px;
}
#error{
    color: red;
    font-size: 16px;
}  
/* tablets */
@media screen and (max-width:768px){
    .profile-image{
        width: 30%;
    }
}

/* mobile */
@media screen and (max-width:480px){
    
}