.main-container {
    display: flex;
}

.main-container .user-detail {
    background: #fff;
    margin: 40px;
    width: 70%;
    order: 1;
}

.main-container .user-detail header {
    width: 100%;
    background: #8685ac;
    color: #fff;
    padding: 15px;
}

.main-container .user-detail .user-profile-card {
    padding: 40px;
}

#profile-form label {
    display: block;
}

#profile-form input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 18px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: none;
}

.form-group {
    padding-bottom: 20px;
}
#update-btn{
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 15px;
    background: #706FD3;
    color: #fff;
}
.main-container .user-profile  {
    margin: 40px;
    order: 2;
    width: 30%;
}
.main-container .user-profile .user-profile-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    height: auto;
    width: 100%;
}
#user-image{
    height: 30vh;
}
.user-profile-card p{
    margin: 15px;
}