{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/admin_base.css'%}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
      integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="wrapper">
      <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
          <h2>Logo</h2>
        </div>
        <ul class="sidebar-nav">
          <li class="active">
            <a href="#"><i class="fa fa-home"></i>Dashboard</a>
          </li>
        </ul>
      </aside>

      <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="#" class="navbar-brand" id="sidebar-toggle"
                ><i class="fa fa-bars"></i
              ></a>
            </div>
          </div>
        </nav>
      </div>

      <section id="content-wrapper">{% block content%}{%endblock%}</section>
    </div>
    <script>
      const $button = document.querySelector("#sidebar-toggle")
      const $wrapper = document.querySelector("#wrapper")

      $button.addEventListener("click", (e) => {
        e.preventDefault()
        $wrapper.classList.toggle("toggled")
      })
    </script>
  </body>
</html>
