{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Partner</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/use_profile.css'%}" />
    <link rel="stylesheet" href="{% static 'css/selectize.css'%}" />
    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <!--User Profile Js-->
    <script src="{% static 'js/user_profile.js'%}" defer></script>

    <!-- Croppie -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css"
      integrity="sha512-2eMmukTZtvwlfQoG8ztapwAH5fXaQBzaMqdljLopRSA0i6YKM8kBAOrSSykxu9NN9HrtD45lIqfONLII2AFL/Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul class="user-info">
          <li>
            <a href="{% url 'user_profile'%}">{{request.user.username}}</a>
          </li>
          <li><a href="{% url 'logout'%}">Logout</a></li>
        </ul>
      </nav>
    </header>
    <div class="sidebar">
      <div class="logo-details">
        <div class="logo_name">Code Partner</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="{% url 'session_create'%}">
            <i class="bx bx-calendar-plus"></i>
            <span class="links_name">Add Time Slot</span>
          </a>
          <span class="tooltip">Add Time Slot</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-code-block"></i>
            <span class="links_name">Find Partner</span>
          </a>
          <span class="tooltip">Find Partner</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-calendar-check"></i>
            <span class="links_name">Upcoming Session</span>
          </a>
          <span class="tooltip">Upcoming Session</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-calendar-event"></i>
            <span class="links_name">Pending Session</span>
          </a>
          <span class="tooltip">Pending Session</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-comment"></i>
            <span class="links_name">Discussion</span>
          </a>
          <span class="tooltip">Discussion</span>
        </li>
      </ul>
    </div>

    <section class="home-section">{% block content%}{%endblock%}</section>
    <script>
      let sidebar = document.querySelector(".sidebar")
      let closeBtn = document.querySelector("#btn")

      closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open")
        menuBtnChange()
      })

      function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
          closeBtn.classList.replace("bx-menu", "bx-menu-alt-right") //replacing the iocns class
        } else {
          closeBtn.classList.replace("bx-menu-alt-right", "bx-menu") //replacing the iocns class
        }
      }
    </script>
    <script>
      $(window).on("load", function () {
        $(".loader3").hide()
      })
    </script>
    <script src="{%static 'js/selectize.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.js"
      integrity="sha512-vUJTqeDCu0MKkOhuI83/MEX5HSNPW+Lw46BA775bAWIp1Zwgz3qggia/t2EnSGB9GoS2Ln6npDmbJTdNhHy1Yw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'js/book.js'%}"></script>
  </body>
</html>
