{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Partner</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}" />
    <script src="{% static 'js/main_page.js'%}" defer></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      defer
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
      defer
    ></script>
  </head>
  <body>
    <div class="navigation">
      <ul>
        <li class="list active">
          <a href="#">
            <span class="icon"><ion-icon name="time-outline"></ion-icon></span>
            <span class="title">Add Your Time Slot</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon">
              <ion-icon name="search-outline"></ion-icon>
            </span>
            <span class="title">Find Partner</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"
              ><ion-icon name="calendar-outline"></ion-icon
            ></span>
            <span class="title"> Upcoming Sessions</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"
              ><ion-icon name="calendar-clear-outline"></ion-icon
            ></span>
            <span class="title">Pending Sessions</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="toggle">
      <ion-icon name="menu-outline" class="open"></ion-icon>
      <ion-icon name="close-outline" class="close"></ion-icon>
    </div>
  </body>
  <script>
    let menuToggle = document.querySelector(".toggle")
    let nav = document.querySelector(".navigation")
    menuToggle.onclick = function () {
      menuToggle.classList.toggle("active")
      nav.classList.toggle("active")
    }
    let list = document.querySelectorAll(".list")
    for (let i = 0; i < list.length; i++) {
      list[i].onclick = function () {
        let j = 0
        while (j < list.length) {
          list[j++].className = "list"
        }
        list[i].className = "lisst active"
      }
    }
    function check() {
      x = confirm("Do you want to logout?")
      if (x) {
        document
          .getElementById("logout")
          .setAttribute("href", "{% url 'logout'%}")
      }
    }
  </script>
</html>
