{% extends 'user/base.html'%} {% load static%} {% block content%}

<head>
  <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
  <link rel="stylesheet" href="{% static 'css/discussion.css'%}" />
</head>
<div class="main-container">
  <div class="discussion">
    <div class="discussion-card">
      <div class="user-information">
        <img src="{{object.user.image.url}}" class="user-image" alt="" />
        <h3 class="user-name">{{object.user.username}}</h3>
      </div>
      <div class="content-section">
        <h5 class="card-title">{{object.title}}</h5>
        <p class="card-content">{{object.content|safe}}</p>
      </div>
      <hr />
      <footer>
        <div class="vote">
          <span id="thumbs" data-value="{{object.id}}"></span>
          <a href="" class="thumbaction" value="thumbsup" role="button">
            <box-icon class="thumbsup" name="like"></box-icon
            ><span class="up" id="up">{{object.thumpsup}}</span> </a
          >&nbsp;
          <a href="" class="thumbaction" value="thumbsdown" role="button">
            <box-icon class="thumbsdown" name="dislike"></box-icon
            ><span class="down" id="down">{{object.thumpsdown}}</span>&nbsp;
          </a>
          <a href="" value="comment" role="button">
            <box-icon name="comment-detail"></box-icon
            ><span id="comment">0</span>
          </a>
        </div>
      </footer>
    </div>
    <div class="comment-form">
      <label for="" style="margin: 10px">Write Down Your Comments: </label>
      <div class="comment-form-card">
        <form class="comment" method="POST">
          {%csrf_token%} {{form.content}}{{form.media}}
          <br />
          <button class="comment-btn" type="submit">Post</button>
        </form>
      </div>
    </div>
    <div class="comment">
      {% for i in comments%}
      <div class="discussion-card">
        <div class="user-information">
          <img src="{{object.user.image.url}}" class="user-image" alt="" />
          <h3 class="user-name">{{object.user.username}}</h3>
        </div>
        {{i.content|safe}}
      </div>
      {%endfor%}
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".thumbaction").click(function (e) {
      var postid = document.getElementById("thumbs").getAttribute("data-value")
      var button = $(this).attr("value")
      e.preventDefault()
      $.ajax({
        type: "POST",
        url: "{% url 'vote'%}",
        data: {
          csrfmiddlewaretoken: "{{csrf_token}}",
          postid: postid,
          action: "thumbs",
          button: button,
        },
        success: function (resp) {
          document.getElementById("up").innerHTML = resp.up
          document.getElementById("down").innerHTML = resp.down
          $("box-icon").removeClass("thumb-active")
          if (resp.remove == "none") {
            $("." + button).removeClass("thumb-active")
          } else {
            $("." + button).addClass("thumb-active")
          }
        },
        error: function (xhr, errmsg, err) {},
      })
    })
  })
</script>
{% endblock%}
