{% extends 'user/base.html'%} {% load static%} {% block content%}

<head>
  <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="{% static 'css/discussion.css'%}" />
</head>
<div class="main-container">
  <div class="discussion">
    <div class="discussion-card">
      <div class="user-information">
        <img src="{{object.user.image.url}}" class="user-image" alt="" />
        <h3 class="user-name">{{object.user.username}}</h3>
      </div>
      <div class="content-section">
        <h5 class="card-title">{{object.title}}</h5>
        <p class="card-content">{{object.content|safe}}</p>
      </div>
      <hr />
      <footer>
        <div class="vote">
          <span id="thumbs" data-value="{{object.id}}"></span>
          <a href="" class="thumbaction" value="thumbsup" role="button">
            <box-icon class="thumbsup" name="like"></box-icon
            ><span class="up" id="up">{{object.thumpsup}}</span> </a
          >&nbsp;
          <a href="" class="thumbaction" value="thumbsdown" role="button">
            <box-icon class="thumbsdown" name="dislike"></box-icon
            ><span class="down" id="down">{{object.thumpsdown}}</span>&nbsp;
          </a>
          <a href="" value="comment" role="button">
            <box-icon name="comment-detail"></box-icon
            ><span id="comment">{{comments_count}}</span>
          </a>
        </div>
      </footer>
    </div>
    <div class="comment-form">
      <label for="" style="margin: 10px">Write Down Your Comments: </label>
      <div class="comment-form-card">
        <form class="comment" method="POST">
          {%csrf_token%} {{form.content}}{{form.media}}
          <br />
          <button class="comment-btn" type="submit">Post</button>
        </form>
      </div>
    </div>
    <div class="comments">
      {% for i in comments%}
      <div class="discussion-card" data-index="{{i.id}}">
        <div class="user-information">
          <img src="{{i.user.image.url}}" class="user-image" alt="" />
          <h3 class="user-name">{{i.user.username}}</h3>
        </div>
        {{i.content|safe}}
        <hr />
        <footer>
          <div class="vote">
            {% if i.user == request.user%}
            <div class="delete">
              <a href=""
                ><i
                  class="far fa-trash-alt delete-btn"
                  data-index="{{i.id}}"
                ></i
              ></a>
            </div>
            {%endif%}
          </div>
        </footer>
      </div>
      {%endfor%}
    </div>
  </div>
</div>
<script>
  //Post Like
  $(document).ready(function () {
    $(".thumbaction").click(function (e) {
      var postid = document.getElementById("thumbs").getAttribute("data-value")
      var button = $(this).attr("value")
      e.preventDefault()
      $.ajax({
        type: "POST",
        url: "{% url 'vote'%}",
        data: {
          csrfmiddlewaretoken: "{{csrf_token}}",
          postid: postid,
          action: "thumbs",
          button: button,
        },
        success: function (resp) {
          document.getElementById("up").innerHTML = resp.up
          document.getElementById("down").innerHTML = resp.down
          $("box-icon").removeClass("thumb-active");
          if (resp['remove'] == 'none') {
            $("." + button).removeClass("thumb-active");
          } else {
            $("." + button).addClass("thumb-active");
          }
        },
        error: function (xhr, errmsg, err) {},
      })
    })


    //Delete comment
    $(".delete-btn").click(function (e) {
      e.preventDefault()
      let comment_id = $(this).attr("data-index")
      let post_id = document.getElementById("thumbs").getAttribute("data-value")
      $.ajax({
        type: "POST",
        url: "{% url 'delete_comment'%}",
        data: {
          csrfmiddlewaretoken: "{{csrf_token}}",
          comment_id: comment_id,
          post_id: post_id,
        },
        success: function (resp) {
          $('.discussion-card[data-index="' + comment_id + '"]').remove()
        },
      })
    })
  })
</script>
{% endblock%}
