{%extends 'user/base.html'%} {% block content%}
<div class="main-container">
  <div class="user-detail">
    <header>{{object.username|title}} Profile</header>
    <div class="user-profile-card">
      <form id="profile-form">
        <div class="form-group">
          <label for="firstname">Firstname:</label>
          <input
            type="text"
            name="firstname"
            id="firstname"
            value="{{object.first_name}}"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            value="{{object.username}}"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            id="email"
            value="{{object}}"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="tel">Phone:</label>
          <input
            type="tel"
            name="phone"
            id="phone"
            value="{{object.phone_number}}"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="exp">Experience in years: </label>
          <input
            type="number"
            min="0"
            max="10"
            name="exp"
            id="exp"
            value="{{object.user_exp}}"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="skills">Skills: </label>
          <select name="skills" id="skills" multiple="multiple"></select>
        </div>
      </form>
    </div>
  </div>
  <div class="user-profile">
    <div class="user-profile-card">
      <img src="{{object.image.url}}" alt="" id="user-image" />
      <h3>{{object.username}}</h3>
      <p>Total Sessions:</p>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    var select = $("#skills").selectize({
      onInitialize: function () {
        $.get("user_skills", function (res) {
          let selectize = select[0].selectize
          let selected = []
          $.each(res.skills, function (i, obj) {
            selected.push(obj)
          })
          selectize.setValue(selected)
        })
      },
    })
  })
</script>
{% endblock%}
