{%extends 'user/base.html'%} {%load static %} {% block content%}
<div class="container">
  <div class="profile">
    <header>
      <h3 class="skeleton-text">My Profile</h3>
      <br />
    </header>
    <div class="details">
      <form action="" class="profile-form" id="profile-form">
        {%csrf_token%}
        <div class="firstname">
          <label for="firstname">Firstname</label>
          <input
            type="text"
            name="firstname"
            id="firstname"
            value="{{object.first_name}}"
            disabled
          />
        </div>
        <div class="username">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            value="{{object.username}}"
            disabled
          />
        </div>
        <div class="email">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            value="{{object}}"
            disabled
          />
        </div>
        <div class="phone">
          <label for="tel">Phone</label>
          <input
            type="tel"
            name="phone"
            id="phone"
            value="{{object.phone_number}}"
            disabled
          />
        </div>

        <div class="about">
          <header>
            <h3 style="text-align: center">About Me</h3>
            <br />
          </header>
          <div class="experience">
            <label for="exp">Experience in years: </label>
            <input
              type="number"
              min="0"
              max="10"
              name="exp"
              id="exp"
              value="{{object.user_exp}}"
              disabled
            />
          </div>
          <div class="skills">
            <label for="skills">Skills: </label>
            <select name="skills" id="skills" multiple="multiple" disabled>
              <option value="python">Python</option>
              <option value="javascript">JavaScript</option>
              <option value="java">Java</option>
              <option value="c">C</option>
              <option value="c++">C++</option>
              <option value="c#">C#</option>
              <option value="android">Android</option>
              <option value="ios">iOS</option>
              <option value="firebase">Firebase</option>
              <option value="sql">Sql</option>
            </select>
          </div>
          <div class="goal">
            <label for="goal"
              >What goals you want to achieve from CodePartner sessions:
            </label>
            <input
              type="text"
              name="goal"
              id="goal"
              value="{{object.goal}}"
              disabled
            />
          </div>
          <div class="best">
            <label for="best">The best thing I love about coding: </label>
            <input
              type="text"
              name="best"
              id="best"
              value="{{object.best_thing}}"
              disabled
            />
          </div>
          <div class="project">
            <label for="project"
              >TA recent project that I have been working on:
            </label>
            <input
              type="text"
              name="project"
              id="project"
              value="{{object.current_project}}"
              disabled
            />
          </div>
          <div class="fav">
            <label for="fav">My favourite programming language: </label>
            <input
              type="text"
              name="fav"
              id="fav"
              value="{{object.fav_language}}"
              disabled
            />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="profile-image">
    <div class="display-picture">
      <img src="{{object.image.url}}" alt="profile" id="user-image" />
    </div>
    <h3>{{object.username}}</h3>
    <br />
  </div>
</div>

{% endblock%}
