{% extends 'user/base.html'%} {% load static%} {% block content%}
<div class="sessions">
  {% for i in session%}
  <div class="column">
    <div class="card">
      <img
        src="{{i.user.image.url}}"
        style="width: 150px; height: auto; padding-top: 10px"
      />
      <h1>{{i.user.username}}</h1>

      <p class="session-type">{{i.goal}}</p>

      <p>{{i.language}}, {{i.level}}</p>
      <p>{{i.date}}, {{i.time}}</p>
      <br />
      <p><button class="view-session">Veiw Session Details</button></p>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock%}
