{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}" />
  </head>
  <body>
    <div class="die-inputs">
      <form class="login-form" id="login-form">
        <h3>Login Here!</h3>
        <div class="input-box">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            autocomplete="off"
            required
          />
        </div>
        <div class="input-box">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            autocomplete="off"
            required
          />
        </div>
        <div class="input-box">
          <input type="submit" value="Login" class="login" id="login" />
        </div>
        <p id="error"></p>
        <p class="text">
          Don't Have An Account? <a href="{% url 'register'%}">Sign Up</a>
        </p>
      </form>
    </div>
    <script>
      const btn = document.getElementById("login")
      btn.addEventListener("click", (e) => {
        e.preventDefault()
        const usernameVal = document.querySelector("#username").value
        const passwordVal = document.querySelector("#password").value
        if (usernameVal.length > 0) {
          fetch("{% url 'login'%}", {
            body: JSON.stringify({
              username: usernameVal,
              password: passwordVal,
            }),
            method: "POST",
          })
            .then((res) => res.json())
            .then((data) => {
              if (data.success == false) {
                document.getElementById("error").textContent =
                  "Username or password is incorrect!"
              } else {
                window.location.replace("index")
              }
            })
        }
      })
    </script>
  </body>
</html>
