{%extends 'user/base.html'%} {%load static%} {% block content%}
<head>
  <link rel="stylesheet" href="{% static 'css/pending.css'%}" />
</head>

<div class="sessions">
  {%for i in rec%}
  <div class="column">
    <div class="card">
      <img
        src="{{i.sender.image.url}}"
        style="width: 150px; height: auto; padding-top: 10px"
      />
      <h3>
        <a href="">{{i.sender.username}}</a>
      </h3>

      <p class="session-type">{{i.session.goal}}</p>

      <p>{{i.session.language}}, {{i.session.level}}</p>
      <p>{{i.session.date}}, {{i.session.time}}</p>
      <button class="reject">Reject</button>
      <button class="accept">Accept</button>
    </div>
  </div>
</div>
{%endfor%}
<div class="sessions">
  {%for j in sender%}
  <div class="column">
    <div class="card">
      <img
        src="{{j.reciever.image.url}}"
        style="width: 150px; height: auto; padding-top: 10px"
      />
      <h3>
        <a href="{% url 'each_profile' j.reciever.id%}"
          >{{j.reciever.username}}</a
        >
      </h3>

      <p class="session-type">{{j.session.goal}}</p>

      <p>{{j.session.language}}, {{j.session.level}}</p>
      <p>{{j.session.date}}, {{j.session.time}}</p>
      <div class="badge">Pending</div>
    </div>
  </div>
</div>
{%endfor%} {% endblock%}
