{% extends 'user/base.html'%} {%load static%} {% block content%}
<head>
  <link rel="stylesheet" href="{% static 'css/session_detail.css'%}">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<div class="main-container">

  <div class="session-detail">
    <header>
      Session Detail
    </header>
    <div class="session-detail-card">
      <form class="detail-form">
        <div class="form-group">
          <label for="goal">Goal: </label>
          <input type="text" id="goal" value="{{object.goal}}" disabled>
        </div>
        <div class="form-group">
          <label for="language">Language: </label>
          <input type="text" id="language" value="{{object.language}}" disabled>
        </div>
        <div class="form-group">
          <label for="level">
            Level:
          </label>
          <input type="text" id="level" value="{{object.level}}" disabled>
        </div>
        <div class="form-group">
          <label for="desc">
            Description: 
          </label>
        <textarea name="" id="" cols="30" rows="10" disabled>{{object.desc}}</textarea>
        </div>
        <div class="form-group">
          <label for="date">
            Date:
          </label>
          <input type="text" id="date" value="{{object.date}}" disabled>
        </div>
        <div class="form-group">
          <label for="time">
            Time:
          </label>
          <input type="text" id="time" value="{{object.time}}" disabled>
        </div>
        <div class="form-group">
          <button type="button" class="book-btn">Book Session</button>
        </div>
      </form>
    </div>
  </div>
  <div class="session-user-profile">
    <div class="session-user-profile-card">
      <img id="user-image" src="{{object.user.image.url}}"><br>
      <h4>{{object.user.username}}</h4>

      <p>No Of Sessions: </p>
      <a href="{% url 'each_profile' object.user.id%}">View Profile</a>
    </div>
  </div>
</div>

{% endblock%}
