{% extends 'user/base.html'%} {%load static%} {% block content%}
<head>
  <link rel="stylesheet" href="{%static 'css/create.css'%}" />
</head>

<div class="main-container">
  <div class="session-create">
    <header>Create Session</header>
    <div class="session-create-card">
      <form id="create-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="">{{form.goal.label}}</label>
          {{form.goal}}
        </div>
        <div class="form-group">
          <label for="">{{form.language.label}}</label>
          {{form.language}}
        </div>
        <div class="form-group">
          <label for="">{{form.level.label}}</label>
          {{form.level}}
        </div>
        <div class="form-group">
          <label for="">{{form.desc.label}}</label>
          {{form.desc}}
        </div>
        <div class="form-group">
          <label for="">{{form.date.label}}</label>
          {{form.date}}
          <div id="date-picker"></div>
        </div>
        <div class="form-group">
          <label for="">{{form.time.label}}</label>
          {{form.time}}
        </div>
        <div class="form-group">
          <button type="submit" id="create-btn">Create Session</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(document).on("click", ".datepicker", function () {
      var $input = $(".datepicker").pickadate({
        format: "mm/dd/yyyy",
        min: new Date(),
      })
    })
    $(document).on("click", ".timepicker", function () {
      $(".timepicker").pickatime()
    })
  })
</script>
{% endblock%}
