{%extends 'user/base.html'%} {%load static %} {% block content%}
<div class="container">
  <div class="profile">
    <header>
      <h3 class="skeleton-text">My Profile</h3>
      <br />
    </header>
    <div class="details">
      <form action="" class="profile-form" id="profile-form">
        {%csrf_token%}
        <div class="firstname">
          <label for="firstname">Firstname</label>
          <input
            type="text"
            name="firstname"
            id="firstname"
            value="{{request.user.first_name}}"
          />
        </div>
        <div class="username">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            value="{{request.user.username}}"
            disabled
          />
        </div>
        <div class="email">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            value="{{request.user}}"
            disabled
          />
        </div>
        <div class="phone">
          <label for="tel">Phone</label>
          <input
            type="tel"
            name="phone"
            id="phone"
            value="{{request.user.phone_number}}"
          />
        </div>

        <div class="about">
          <header>
            <h3 style="text-align: center">About Me</h3>
            <br />
          </header>
          <div class="experience">
            <label for="exp">Experience in years: </label>
            <input
              type="number"
              min="0"
              max="10"
              name="exp"
              id="exp"
              value="{{request.user.user_exp}}"
            />
          </div>
          <div class="skills">
            <label for="skills">Skills: </label>
            <select name="skills" id="skills" multiple="multiple">
              <option value="python">Python</option>
              <option value="javascript">JavaScript</option>
              <option value="java">Java</option>
              <option value="c">C</option>
              <option value="c++">C++</option>
              <option value="c#">C#</option>
              <option value="android">Android</option>
              <option value="ios">iOS</option>
              <option value="firebase">Firebase</option>
              <option value="sql">Sql</option>
            </select>
          </div>
          <div class="goal">
            <label for="goal"
              >What goals you want to achieve from CodePartner sessions:
            </label>
            <input
              type="text"
              name="goal"
              id="goal"
              value="{{request.user.goal}}"
            />
          </div>
          <div class="best">
            <label for="best">The best thing I love about coding: </label>
            <input
              type="text"
              name="best"
              id="best"
              value="{{request.user.best_thing}}"
            />
          </div>
          <div class="project">
            <label for="project"
              >TA recent project that I have been working on:
            </label>
            <input
              type="text"
              name="project"
              id="project"
              value="{{request.user.current_project}}"
            />
          </div>
          <div class="fav">
            <label for="fav">My favourite programming language: </label>
            <input
              type="text"
              name="fav"
              id="fav"
              value="{{request.user.fav_language}}"
            />
          </div>
          <div class="messages">
            <p id="error"></p>
          </div>
          <div class="submit">
            <input type="submit" value="Update" id="update-btn" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="profile-image">
    <div class="display-picture">
      <img src="{{request.user.image.url}}" alt="profile" id="user-image" />
    </div>
    <h3>{{request.user.username}}</h3>
    <br />
    <div class="profile-upload">
      <input type="file" name="dp" id="dp" />
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#skills").selectize({
      plugins: ["remove_button"],
      delimiter: ",",
      persist: false,
      create: function (input) {
        return {
          value: input,
          text: input,
        }
      },
    })
  })
</script>
{% endblock%}
